.usersList_wrapper{
    width: 100%;
}
.usersList_header{
    height: 58px;
}
.usersList_header tr th{
    color: #5F6166;
}
.usersList_item{
    background-color: rgb(24, 25, 26);
    height: 60px;
    border-radius: 8px;
}
.usersList_item td{
    margin-top: 8px;
}
.usersList_item td:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.usersList_item td:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.usersList_table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    table-layout: fixed;
    text-align: left;

}
.usersList_body{

}
