.button {
    border-radius: 8px;
    border: 1px solid transparent;
    min-width: 48px;
    height: 48px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(24, 25, 26);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.button span{
    color: #fff
}

