.userController{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.leftGroup{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
}
.inputWrapper{
    border-right: 2px solid #18191A;
    padding-right: 16px;
}
.addButton{
    margin-left: auto;
}