.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.breadcrumbs li {
    position: relative;
}

.breadcrumbs li:not(:last-child)::after {
    content: "/";
    position: absolute;
    right: -10px;
    color: #5F6166;
}

.breadcrumbs a {
    text-decoration: none;
    color: #5F6166;
    padding: 2px 4px;
    transition: all 0.2s ease;
}


.breadcrumbs .active a {
    color: #A8ACB3;
    text-decoration: none;
    cursor: default;
}