:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
    color: #FAFCFF;
  background-color: #050506;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    color: #FAFCFF
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1516px;
    min-height: 100vh;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    transition: background-color 0s 600000s, color 0s 600000s !important;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus {
    box-shadow: none !important;
}

input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
}
select{
    border: none;
    outline: none;
    background: none;
    color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

